.list{
    width: 100%;
    border-bottom:solid 1px #316a91;
    margin:0;
    height: 100%;
    text-decoration: none;
    list-style-type: none}
.list ul li{background-color: rgba(102, 102, 102, 1); border-bottom:0;}
.list ul li a{padding-left: 10px;color: #fff; font-size:12px; display: block; font-weight:bold; height:36px;line-height: 36px;position: relative;
}
.list ul li .inactive{ background:url(/nav/off.png) no-repeat 184px center;}
.list ul li .inactives{background:url(/nav/on.png) no-repeat 184px center;}
.list ul li ul{display: none;}
.list ul li ul li { border-left:0; border-right:0; background-color: rgba(102, 102, 102, 1);}
.list ul li ul li ul{display: none;}
.list ul li ul li a{ padding-left:20px;}
.list ul li ul li ul li { background-color: rgba(102, 102, 102, 1);  }
.last{background-color: rgba(102, 102, 102, 1);  }
.list ul li ul li ul li a{ color:#fff; padding-left:30px;}
.list a{
    text-decoration: none;
}
